name: Deployment Workflow
on: workflow_call
jobs:
    deploy:
        runs-on: ubuntu-latest
        steps:
            - name: Output Deployment Message
              run: echo "Deploying application..."